<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hey, I’m Evan — a hands-on dev who loves making things that just work. I’m working on my A.A.S. in Computer Programming
        (rockin’ a 3.6 GPA) and have already crushed 20+ tech-heavy courses.</p>
      </div>
      <div class="col-lg-4">
        <p>I’m into full-stack development, automation, and writing code that doesn’t break the next time you look at it. Whether
        I’m scripting a fix or building a web app from scratch, I thrive on solving problems and learning new stuff fast.
        Languages like C#, Python, and C++ are my daily drivers, and I’m always down to dig into a new challenge or tool. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
