/* Dracula Theme: modifies the default theme to inject a wee bit o' spooky in various places. */

/* Use Open Sans as the default font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --dracula-bg: #282a36;
  /* Background color */
  --dracula-green1: #50fa7b;
  --dracula-green2: #8be9fd;
  --dracula-green3: #f1fa8c;
  --dracula-green4: #f8f8f2;
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--dracula-green1);
  --dracula-pill-bg: var(--dracula-green3);
  --dracula-icon-fill: var(--dracula-green1);
  --dracula-icon-hover: var(--dracula-green2);
  --dracula-page-bg-color: var(--dracula-bg);
  --dracula-footer-bg-color: var(--dracula-green4);
  --dracula-projects-bg-color: var(--dracula-green4);
}

body {
  background-color: var(--dracula-bg);
}

p {
  color: var(--dracula-green4);
  /* Paragraph font color */
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--dracula-green1);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--dracula-icon-fill);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

/* Update social media icon color for Dracula theme */
.tf-social:hover {
  fill: var(--dracula-icon-hover);
}

a {
  text-decoration: none;
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--dracula-footer-bg-color);
  border-top: none;
}

/* Update the container background and text color */
.container {
  background-color: var(--dracula-page-bg-color);
  color: var(--dracula-green4);
}