/* Dracula Theme: modifies the default theme to inject a wee bit o' spooky in various places. */

/* Use Open Sans as the default font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --dracula-background: #282a36;
  /* Dracula theme background color */
  --dracula-current-line: #44475a;
  /* Dracula theme current line highlight color */
  --dracula-foreground: #f8f8f2;
  /* Dracula theme foreground text color */
  --dracula-selection: #44475a;
  /* Dracula theme selection background color */
  --dracula-comment: #6272a4;
  /* Dracula theme comment color */
  --dracula-cyan: #8be9fd;
  /* Dracula theme cyan color */
  --dracula-green1: #50fa7b;
  /* Dracula theme green1 color */
  --dracula-green2: #37b55e;
  /* Dracula theme green2 color */
  --dracula-orange: #ffb86c;
  /* Dracula theme orange color */
  --dracula-pink: #ff79c6;
  /* Dracula theme pink color */
  --dracula-purple: #bd93f9;
  /* Dracula theme purple color */
  --dracula-red: #ff5555;
  /* Dracula theme red color */
  --dracula-yellow: #f1fa8c;
  /* Dracula theme yellow color */

  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--dracula-cyan);
  --bs-pill-bg: var(--dracula-cyan);
  /* Updated variable name */
  --bs-icon-fill: var(--dracula-cyan);
  /* Updated variable name */
  --bs-icon-hover: var(--dracula-green1);
  /* Updated variable name */
  --bs-page-bg-color: var(--dracula-background);
  /* Updated variable name */
  --bs-footer-bg-color: var(--dracula-current-line);
  /* Updated variable name */
  --bs-projects-bg-color: var(--dracula-current-line);
  /* Updated variable name */
  --bs-text-color: var(--dracula-foreground);
  /* Updated variable name */
}

p {
  color: var(--bs-text-color);
  /* Apply Dracula theme font color to paragraphs */
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--dracula-green1);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--bs-icon-fill);
  /* Use the updated Dracula variable */
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--bs-icon-hover);
  /* Use the updated Dracula variable */
}

a {
  text-decoration: none;
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--bs-footer-bg-color);
  /* Use the updated Dracula variable */
  border-top: none;
}